.form-container {
  margin: 0px 20px;
  padding: 0px;
  max-width: 100%;
}
.details-heading {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: rgb(88, 96, 110);
}
.description-section {
  margin-top: 20px;
}
.small-info-column {
  padding-top: 50px;
}
.react-datepicker-wrapper {
  margin: 0px;
}
.small-info-div {
  margin: 15px 5px;
}
